<div class="container mt-5">
      
      <!--| Nome do Método |-->
      <div class="row">
        <div class="col-12 text-center mt-4 mb-2 text-primary">
          <h2>Método de Gauss-Jordan</h2>
        </div>
      </div>
      <!--|----------------|-->


      <!--| Inputs de Atributos |------------------------------->
      <div class="row justify-content-center">

        <div class="col-sm-6 col-md-8 col-lg-10">
          <form method="POST"> {% csrf_token %} 
            
            <div class="d-flex justify-content-center">
              <label class="text-primary">Tamanho do Sistema Linear</label>
            </div>

            <div class="form-row mb-3">
              <!--| Tamanho da Matriz A |-->
              <div class="form-group col-lg-6">
                <input type="text" class="form-control" id="gaussJordanTamanhoInput" placeholder="Coloque valores inteiros entre 2 e 5" name = "gaussJordanTamanhoInput">
              </div>

              <!--| Botão de Salvar |-->
              <div class="form-group col-lg-6 align-self-end">
                <button class="btn btn-block btn-primary" type="submit" name="falsaPosicaoSalvar">
                  Atualizar Valor
                </button>
              </div>              
            </div>
        </form>
      </div>