   <div class="container">
      
      <!--| Nome do Método |----------------------------------->
      <div class="row">
        <div class="col-12 text-center mt-4 mb-2 text-primary">
          <h2>Método da Secante</h2>
        </div>
      </div>
      <!--|-----------------|----------------------------------->


      <!--| Inputs de Atributos |------------------------------->
      <div class="row justify-content-center">

        <div class="col-sm-6 col-md-8 col-lg-10">
          <form method="POST"> {% csrf_token %} 

            <!--| Equação de f(x) |-->
            <div class="form-row mb-3">
              <label class="text-primary" for="secanteEquacao">Equação de f(x)</label>
              <input type="text" class="form-control" name="secanteEquacaoInput" placeholder="Ex.: x^2+2*x">
            </div>

            <!--| Estimativas Iniciais |-->
            <div class="form-row">
              <div class="form-group col-sm-6 col-md-6 col-lg-6 mb-3">
                <label class="text-primary" for="secanteX0">Estimativa x0</label>
                <input type="text" class="form-control" name="secanteX0Input" placeholder="Ex.: 1.8">
              </div>

              <div class="form-group col-sm-6 col-md-6 col-lg-6 mb-3">
                <label class="text-primary" for="secanteX1">Estimativa x1</label>
                <input type="text" class="form-control" name="secanteX1Input" placeholder="Ex.: 2.2">
              </div>
            </div>

            <!--| Critério de Parada |-->
            <div class="form-row mb-3 d-flex">
              <div class="form-group col-sm-6 col-md-6 col-lg-6">
                <label class="text-primary" for="secanteTolerancia">Tolerância</label>
                <input type="text" class="form-control" name="secanteToleranciaInput" placeholder="Ex.: 10^-3">
              </div>

              <!-- Formulário -->
              <div class="form-group col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 ml-1">
                <!-- label -->
                <div class="form-row">
                  <label class="text-primary mb-1" for="falsaPosicaoErro">Critério de Parada</label>
                </div>
                <!-- radios -->
                <div class="form-row align-self-center">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="secateErro" id="exampleRadios1" value="erroAbsoluto" checked>
                    <label class="form-check-label text-primary">
                      Erro Absoluto
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="secateErro" id="exampleRadios2" value="erroRelativo">
                    <label class="form-check-label text-primary">
                      Erro Relativo
                    </label>
                  </div>
                </div>
              </div>

            </div>
            
            <!--| Propriedades do Gráfico |-->
            <div class="form-row mt-1 mb-1">
              <label class="text-primary text-center h5">Propriedades de Exibição do Gráfico</label>
            </div>
            <div class="form-row mb-2">
              <div class="form-group col-sm-6 col-md-6 col-lg-6 mb-3">
                <label class="text-primary">Menor Abscissa Exibida</label>
                <input type="text" class="form-control" id="secanteGraficoMenorX" placeholder="Ex.: 0" name = "secanteGraficoMenorX">
              </div>

              <div class="form-group col-sm-6 col-md-6 col-lg-6 mb-3">
                <label class="text-primary">Maior Abscissa Exibida</label>
                <input type="text" class="form-control" id="secanteGraficoMaiorX" placeholder="Ex.: 6" name = "secanteGraficoMaiorX">
              </div>
            </div>

            <!-- | Botão de Salvar |-->
            <div class="form-row mb-3">
              <button class="btn btn-block btn-primary" type="submit" name="secanteSalvar">
                Calcular Raiz Aproximada
              </button>
            </div>

            <!--| Resultado da Raiz |-->
            <div class="form-row">
              <label class="text-primary h6" for="secanteRaiz">Raiz Aproximada x* = </label>
              <!-- TO DO Exibir Resultado -->
            </div>

            <!--| Exibição do Gráfico |-->
            <div class="form-row">
              <label class="text-primary h5" for="secanteGrafico">Gráfico da Função </label>
              {{graphSecantes|safe}}
            </div>

          </form>
        </div>
        <!--|---------------------|------------------------------->

      </div>
    </div>